body{
    margin: 0;
}
.navbar-wrap{
    background-color: #93E9BE;
    color: white;
    width: 100%;
}

.navbar-container{
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-list{
    display: flex;
    margin: 0;
}

.menu-list li{
    padding: 0px 30px 0px 30px;
    list-style-type: none;
}

.navbar-wrap a{
    color: white;
    font-size: 16px;
    padding: 30px 0 30px 0;
    text-decoration: none;

}

.search-box{
    width: 15%;
    max-width: 175px;
    background: #93E9BE;
    border-radius: 4px;
    padding: 5px 0px 5px 15px;
    border: 2px solid white;
    outline: none;
    font-size: 14px;
}

.links-active{
    border-bottom: 5px solid#192f70;;
}

.menu-list:first-child{
    padding-left: 0;
}
